<h1>Enrolments list</h1>



<% @enrolments.each do |c| %>

<% student = Student.where(id: c.student_id) %>


<div class="container">
<div class="p-3 mb-2 bg-light text-dark"> 
<div class="row">
Student Name: <%= c.student.name %> </div>

<div class="row">
Course: <%= c.offered.course.name %> </div>

<div class="row">
Teacher Name: <%= c.offered.course.teachers.name %> </div>

<div class="row">
Semester: <%= c.semester.semester_type %> </div>
<div class="row">
Year: <%= c.semester.year%> </div>



</div>

</div>

<% end %>

<%= link_to "Back", roots_path, class: "btn btn-secondary" %>
<%= link_to "Add", enrolments_new_url, class: "btn btn-secondary"  %>






